
/*ESTILO PARA FORMULARIO AGREGAR*/
.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);

}

.btn-green{
	color: white;
	background-color: #3CC93F;
}

.btn-green:hover{
	background-color: #37B839;
}

.btn-green:active{
	background-color: #29962A;
}
.btn-red{
	color: white;
	background-color: #C61515;

}

.btn-red:hover{
	background-color: #F30A0A;
}

.btn-red:active{
	background-color: #A8000C;
}
.btn{
	margin: 10px;
	padding: 20px;
	cursor: pointer;
}

body{
	background-color: #5F26F0;

}
form{
	
	width: 300px;
	padding: 20px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 4px;
	font-size: 18px;
}
input{
	outline-color: #5F26F0;
	text-align: center;


}

.fielda{
	border: solid 2px #CCC;
	padding: 10px;
	border-radius: 5px;
	width: 85%;
}
.center-content{
	text-align: center;
	font-family: cursive;
}




